* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: px;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

.instagram-content {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 38%;
    height: 100%;
}

.instagram-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.instagram-phone img {
    height: 85vh;
}

.instagram-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 34rem;
    width: 30%;
    margin-left: 4%;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.logo {
    height: 3rem;
    margin-bottom: 1.2rem;
    margin-top: 2rem;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile img {
    height: 6.5rem;
}

.login {
    background-color: #0095f6;
    padding: 8px;
    border-radius: 5px;
    color: white;
    width: 60%;
    text-align: center;
    font-weight: bold;
    font-size: 0.85rem;
    margin-top: 1.3rem;
}

.logout {
    color: #0095f6;
    margin-top: 1.5rem;
    font-weight: bold;
}

.blue-link {
    color: #0095f6;
    font-weight: bold;
}

.not-account {
    margin-top: 2.5rem;
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
}

.footer {
    text-align: center;
    width: 680px;
    margin: 0 auto;
}

.footer .links {
    margin-bottom: 0.625rem;
}

.links a {
    color: #8e8e8e;
    font-size: 0.75rem;
    display: inline-block;
    margin: 0 0.375rem 10px;
}

/* Responsividade - MediaQuery */

@media (min-width: 1200px) {
    .instagram-content {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .instagram-content {
        width: 95%;
    }

    .footer {
        width: 100%;
        margin-top: 30%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-content {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-login {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}

@media (max-width: 380px) {
    .not-account a {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}


